<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,310}</string>
                <key>spriteSourceSize</key>
                <string>{310,310}</string>
                <key>textureRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,310}</string>
                <key>spriteSourceSize</key>
                <string>{310,310}</string>
                <key>textureRect</key>
                <string>{{310,0},{310,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,310}</string>
                <key>spriteSourceSize</key>
                <string>{310,310}</string>
                <key>textureRect</key>
                <string>{{620,0},{310,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,310}</string>
                <key>spriteSourceSize</key>
                <string>{310,310}</string>
                <key>textureRect</key>
                <string>{{930,0},{310,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,310}</string>
                <key>spriteSourceSize</key>
                <string>{310,310}</string>
                <key>textureRect</key>
                <string>{{1240,0},{310,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Housekeeper.png</string>
            <key>size</key>
            <string>{1550,310}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4305a43a74e7a324bd36450d82858996:75e47b735434e72d24340e3c0fbe9b7b:112403e1a432871cb52358ddf055582a$</string>
            <key>textureFileName</key>
            <string>Housekeeper.png</string>
        </dict>
    </dict>
</plist>
