<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background_Blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{333,917},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_Common_Broadside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{341,765},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_Common_Grey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,192}</string>
                <key>spriteSourceSize</key>
                <string>{342,192}</string>
                <key>textureRect</key>
                <string>{{1,512},{342,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_Common_Tint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,128}</string>
                <key>spriteSourceSize</key>
                <string>{228,128}</string>
                <key>textureRect</key>
                <string>{{45,1575},{228,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_Common_White.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,153}</string>
                <key>spriteSourceSize</key>
                <string>{338,153}</string>
                <key>textureRect</key>
                <string>{{1,706},{338,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_Grey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{297,1171},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_Head_Grey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,60}</string>
                <key>spriteSourceSize</key>
                <string>{300,60}</string>
                <key>textureRect</key>
                <string>{{438,1},{300,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_InfoPanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,160}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{345,643},{120,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_InfoPanel_Grey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,78}</string>
                <key>spriteSourceSize</key>
                <string>{330,78}</string>
                <key>textureRect</key>
                <string>{{1,861},{330,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_InformationTip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{345,512},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_Information_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{345,562},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_Ingredient_Grey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,42}</string>
                <key>spriteSourceSize</key>
                <string>{168,42}</string>
                <key>textureRect</key>
                <string>{{1,1511},{168,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_Mask_Grey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{297,1341},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_Orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{282,1511},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,82}</string>
                <key>spriteSourceSize</key>
                <string>{196,82}</string>
                <key>textureRect</key>
                <string>{{297,1087},{196,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_StageSelection_Blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,58}</string>
                <key>spriteSourceSize</key>
                <string>{338,58}</string>
                <key>textureRect</key>
                <string>{{436,303},{338,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_StatefulInfoPanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,392}</string>
                <key>spriteSourceSize</key>
                <string>{294,392}</string>
                <key>textureRect</key>
                <string>{{1,216},{294,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_Tab_Negative.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,90}</string>
                <key>spriteSourceSize</key>
                <string>{294,90}</string>
                <key>textureRect</key>
                <string>{{1,1163},{294,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_Tab_Positive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,90}</string>
                <key>spriteSourceSize</key>
                <string>{294,90}</string>
                <key>textureRect</key>
                <string>{{1,1255},{294,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,213}</string>
                <key>spriteSourceSize</key>
                <string>{435,213}</string>
                <key>textureRect</key>
                <string>{{1,1},{435,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_Tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,220}</string>
                <key>spriteSourceSize</key>
                <string>{294,220}</string>
                <key>textureRect</key>
                <string>{{1,941},{294,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,39}</string>
                <key>spriteSourceSize</key>
                <string>{108,39}</string>
                <key>textureRect</key>
                <string>{{395,216},{108,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jesus_Light_Rotating.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,226}</string>
                <key>spriteSourceSize</key>
                <string>{237,226}</string>
                <key>textureRect</key>
                <string>{{45,1347},{235,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Background.png</string>
            <key>size</key>
            <string>{506,1704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3a32196de7806a39a34b39130d85e43:0c1ef1e30421fddcd1408d921b324cb1:b66f6d0d745818ce79958cce3ebfdabf$</string>
            <key>textureFileName</key>
            <string>Background.png</string>
        </dict>
    </dict>
</plist>
