<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AllyFlag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{512,595},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_GameSettings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{768,1001},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_GoogleAuthSignIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,46}</string>
                <key>spriteSourceSize</key>
                <string>{191,46}</string>
                <key>textureRect</key>
                <string>{{779,0},{189,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_Video.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{779,211},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ByteDance_Login_Scene_Logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{779,595}</string>
                <key>spriteSourceSize</key>
                <string>{779,595}</string>
                <key>textureRect</key>
                <string>{{0,0},{779,595}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CircularDefenderIndicator.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,165}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{779,46},{165,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LinearBullet_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,36}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{968,0},{128,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SkullFlag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,595},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TileHighlighter-Lawn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{779,361},{256,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TileHighlighter-SoldierDroppable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{768,617},{256,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TileHighlighterGreen-Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{768,745},{256,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TileHighlighterGreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{512,851},{256,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TileHighlighterRed-Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{768,873},{256,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TileHighlighterRed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{512,979},{256,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GUIElements_2.png</string>
            <key>size</key>
            <string>{1024,1129}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1706977f21fa2b9c4b4c2c32a9bab9f5:271ca8e12949af57f301c6f655bce121:cc5470a4dc026f01b037e4deb2610ac9$</string>
            <key>textureFileName</key>
            <string>GUIElements_2.png</string>
        </dict>
    </dict>
</plist>
