<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,550}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{0,0},{550,550}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Cafe-2.png</string>
            <key>size</key>
            <string>{550,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa557b1eb690aaa240716ca00d014f6a:541f9c66b108574ff94aef0d6483186a:8249e1af4d4cf0ef5dc3840c64288fee$</string>
            <key>textureFileName</key>
            <string>Cafe-2.png</string>
        </dict>
    </dict>
</plist>
