<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,550}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{0,0},{550,550}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,550}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{0,0},{550,550}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,550}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{0,0},{550,550}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,550}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{0,0},{550,550}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,550}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{0,0},{550,550}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FireTower.png</string>
            <key>size</key>
            <string>{550,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bbbf6ced3aa3471e38616f78b4f75df:80ac2f5382fd02ade6f47ffa392c881e:71bcf9208d908ef031010436189b91d2$</string>
            <key>textureFileName</key>
            <string>FireTower.png</string>
        </dict>
    </dict>
</plist>
