<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,550}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{0,0},{550,550}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FruitStand.png</string>
            <key>size</key>
            <string>{550,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be1af856129163a36d4382ba1dc0416c:67f6f18301f7af03006167f68be84749:7015619d1fea1af34f1115260bf69f49$</string>
            <key>textureFileName</key>
            <string>FruitStand.png</string>
        </dict>
    </dict>
</plist>
