<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,550}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{0,0},{550,550}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,550}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{0,550},{550,550}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,550}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{0,1100},{550,550}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,550}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{550,0},{550,550}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,550}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{1100,0},{550,550}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,550}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{550,550},{550,550}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,550}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{550,1100},{550,550}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,550}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{1100,550},{550,550}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,550}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{1100,1100},{550,550}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Snack-1.png</string>
            <key>size</key>
            <string>{1650,1650}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:253964f998118af6da1d5c4cf14a0593:903b50b350e25e9194ca5eb812e7977d:cf9bca977bd9a633573c26be8427eb28$</string>
            <key>textureFileName</key>
            <string>Snack-1.png</string>
        </dict>
    </dict>
</plist>
