<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background_Loading_Scene.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,1422}</string>
                <key>spriteSourceSize</key>
                <string>{800,1422}</string>
                <key>textureRect</key>
                <string>{{0,0},{800,1422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_Login_Scene.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,1422}</string>
                <key>spriteSourceSize</key>
                <string>{800,1422}</string>
                <key>textureRect</key>
                <string>{{800,0},{800,1422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,1422}</string>
                <key>spriteSourceSize</key>
                <string>{800,1422}</string>
                <key>textureRect</key>
                <string>{{800,0},{800,1422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg_image.png</string>
            <key>size</key>
            <string>{1600,1422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:068c45e260591dfcf5c3232e6c112bee:0e4ef1eb0302e7fd6f915d523f0c70c7:a829cefc8459a5ab79d7ad4e3a4111e1$</string>
            <key>textureFileName</key>
            <string>bg_image.png</string>
        </dict>
    </dict>
</plist>
