<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{144,65},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,60}</string>
                <key>spriteSourceSize</key>
                <string>{72,60}</string>
                <key>textureRect</key>
                <string>{{72,130},{72,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{144,129},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,65}</string>
                <key>spriteSourceSize</key>
                <string>{72,65}</string>
                <key>textureRect</key>
                <string>{{72,0},{72,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,65}</string>
                <key>spriteSourceSize</key>
                <string>{72,65}</string>
                <key>textureRect</key>
                <string>{{144,0},{72,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,65}</string>
                <key>spriteSourceSize</key>
                <string>{72,65}</string>
                <key>textureRect</key>
                <string>{{72,65},{72,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,65}</string>
                <key>spriteSourceSize</key>
                <string>{72,65}</string>
                <key>textureRect</key>
                <string>{{0,67},{72,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,67}</string>
                <key>spriteSourceSize</key>
                <string>{72,67}</string>
                <key>textureRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,60}</string>
                <key>spriteSourceSize</key>
                <string>{72,60}</string>
                <key>textureRect</key>
                <string>{{72,130},{72,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,60}</string>
                <key>spriteSourceSize</key>
                <string>{72,60}</string>
                <key>textureRect</key>
                <string>{{72,130},{72,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Table.png</string>
            <key>size</key>
            <string>{216,193}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7bc3defb9b1158ceb5ab30576be96b9:a94b527b025f02a14bbe4dec374a4521:6fe0461b4e44b94dbadaffe191995c8e$</string>
            <key>textureFileName</key>
            <string>Table.png</string>
        </dict>
    </dict>
</plist>
